@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

h1 {
    font-style: italic;
    font-weight: 1000;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}

h2 {
    font-weight: 1000;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 40px;
}

body {
    background: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

section {
    padding: 5rem 9%;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.stripe {
    width: 80%;
    height: 2px;
    background: black;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.navigation a {
    margin: 0 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.navigation a:hover {
    background: rgba(224, 216, 255, 0.99);
}

.registration-form {
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

.registration-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.registration-form input[type="text"],
.registration-form input[type="number"],
.registration-form input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
    outline: none;
    width: 100%;
    font-size: 16px;
    text-align: left;
}

.registration-form input[type="text"]:focus,
.registration-form input[type="number"]:focus,
.registration-form input[type="date"]:focus {
    border: 1px solid #000;
}

.registration-form input[type="submit"] {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.registration-form input[type="submit"]:hover {
    background-color: rgba(224, 216, 255, 0.99);
}

.registration-form input[type="date"]::placeholder {
    text-align: left;
    font-weight: normal;
}

.registration-form input[type="date"]::before {
    content: "Birth";
    color: grey;
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.registration-form label[for="file"] {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}

.registration-form input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
    outline: none;
    width: 100%;
    font-size: 16px;
    text-align: left;
}

.registration-form input[type="file"]:focus {
    border: 1px solid #000;
}


@media (max-width: 991px) {
    .registration-form {
        width: 80%;
        height: auto;
    }

    .registration-form input[type="text"],
    .registration-form input[type="number"],
    .registration-form input[type="file"],
    .registration-form input[type="submit"],
    .registration-form input[type="date"] {
        font-size: 45px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    h2{
        font-size: 3.5rem;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation a {
        margin: 0.5rem 0;
        font-size: 3.5rem;
    }

}